BO {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-family: Georgia;
  }
  H2 {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px white,
                 2px 2px #777;
    color: #333;
    transition: all 1s;
    }
    H2:hover {
      text-shadow: 1px 1px white,
                   2px 2px tomato;
      color: crimson;
      }